* {
box-sizing: border-box;
}
:root {
--primary-color: rgb(196, 196, 196);
--secondary-color: rgb(180, 180, 180);
--background-color: rgb(92, 92, 92);
--accent-color: black;

}
@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}

#title {
   width: 200%; 
   text-align: center; 
   border-bottom: 1px solid var(--accent-color);
   line-height: 0.1em;
   margin: 10px 0 20px;
}

#title span{
    background-color: var(--primary-color);
    padding:0 10px 50px 10px;
}
#objective h2, #education h1, #education h2, #experience h1 {
    width: 50%;
    text-align: center; 
    border-bottom: 1px solid var(--accent-color);
    line-height: 0.1em;
    margin: 10px 0 20px;
}
h2 span{
    background-color: var(--primary-color);
    padding:0 10px;
}

body {
background-image: linear-gradient(to top, var(--background-color), var(--primary-color));
background-position: left top;
font-size: 15px;
font-family: 'Adobe Gothic Std', Times, serif;
}
main {
border-radius: .45rem;
background-color: var(--primary-color);
width:80%;
padding: 2rem 1rem;
margin: auto;
}
div {
display: flex;
flex-direction: column;
margin-top: 1.5rem;
align-items: center;
}
section {
background-color: var(--primary-color);
display: flex;
flex-direction: column;
align-items: center;

}

#objective {
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: center;
}

#education {
    background-color: var(--secondary-color);
    width: 50%;
    border-radius: 5rem;
    padding: 1rem 0 2rem 0;
}
#education span {
    background-color: var(--secondary-color);
    padding:0 10px 0px 10px;
}

#experience {
    background-color: var(--secondary-color);
    width: 50%;
    border-radius: 5rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 3rem;
    
}
#experience span{
    width: 50%;
    background-color: var(--secondary-color);
    padding:0 10px 0px 10px;
}



#portrait {
max-width: 300px;
height: auto;
border-radius: 50%;
background-color: var(--primary-color);
filter: drop-shadow(0px 20px 30px var(--accent-color));
    transition: max-width;
    transition-duration: 1s;
    transition-delay: 1ms;
}
#portrait:hover {
    max-width: 350px;
}

p {
    font-size: 12pt;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

#personal-links {
border-radius: 20px;
display: inline-block;
flex-direction: column;
}

#personal-links a img {
    padding: 0.5rem;
    height: auto;
    max-width: 100px;
    margin: 0 1rem;
    transition: max-width;
    transition-duration: 1s;
    transition-delay: 1ms;
}
#personal-links a img:hover {
    max-width: 120px;
}
a:link {
    color: var(--accent-color)
}
a:visited {
    color: var(--accent-color)
}
#my-projects {
width: 100%;
margin-top: 1.5rem;
border-radius:.45rem;
}
#projects {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: .45rem;
    padding: 1rem 1rem 2rem 1rem;
}
#projects a img {
max-width: 50px;
margin: 0 1rem;
}