* {
    box-sizing: border-box;
}
body {
    background-color: rgb(187, 187, 187);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
main {
    border-radius: .45rem;
    width:60%;
    padding: 2rem 1rem;
    margin: auto;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
}
#portrait {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 1px solid grey;
    filter: drop-shadow(3px 3px 50px rgb(26, 23, 23));
}
#personal-links {
    display: flex;
}
