* {
box-sizing: border-box;
}
:root {
--primary-color: rgb(196, 196, 196);
--secondary-color: rgb(180, 180, 180);
--background-color: rgb(92, 92, 92);
--accent-color: black;

}
/* from w3schools.com */
@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}

main {
border-radius: .45rem;
background-color: var(--primary-color);
width:90%;
padding: 2rem 1rem;
margin: auto;
}

#portrait {
max-width: 300px;
height: auto;
border-radius: 50%;
filter: drop-shadow(0px 20px 30px var(--accent-color));
    transition: max-width;
    transition-duration: 1s;
    transition-delay: 1ms;
}
#portrait:hover {
    max-width: 350px;
}

p {
    font-size: 16pt;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

#personal-links {
        background-color: var(--primary-color);
display: inline-block;
flex-direction: column;
}

#personal-links a img {
    padding: 0.5rem;
    height: auto;
    max-width: 100px;
    margin: 0 1rem;
    transition: max-width;
    transition-duration: 1s;
    transition-delay: 1ms;
}
#personal-links a img:hover {
    max-width: 120px;
}
a:link {
    color: var(--accent-color)
}
a:visited {
    color: var(--accent-color)
}
#personal-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--primary-color);
}
#title {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid var(--accent-color);
   line-height: 0.1em;
   margin: 10px 0 20px;
}

#title span{
    background-color: var(--primary-color);
    padding:0 10px 50px 10px;
}
h1{
    width: 80%; 
    display: inline-block;
    text-align: center; 
    border-bottom: 1px solid var(--accent-color);
    line-height: 0.1em;
    margin: 10px 0 10px 0;
}
h1 span{
    background-color: var(--primary-color);
    padding:0 10px 0px 10px;
}

body {
background-image: linear-gradient(to top, var(--background-color), var(--primary-color));
background-position: left top;
font-size: 15px;
font-family: 'Adobe Gothic Std', Times, serif;
}

div {
background-color: var(--secondary-color);
display: flex;
flex-direction: column;
margin-top: 1.5rem;
align-items: center;
gap: 0.5rem;
text-align: center;
}


#objective {
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: center;
}

#education {
    width: 100%;
    border-radius: 5rem;
    padding: 2rem 0 1rem 0;
    margin-bottom: 3rem;
}
#education span {
    background-color: var(--secondary-color);
    padding:0 10px 0px 10px;
}
#logos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#logos img{
    max-width: 80px;
    height: auto;
    transition: max-width;
    transition-duration: 1s;
    transition-delay: 1ms;

}
#logos img:hover {
    max-width: 100px;
}

#experience {
    width: 100%;
    border-radius: 5rem;
    padding: 2rem 0 1rem 0;
    margin-bottom: 3rem;
    
}
#experience span{
    width: 100%;
    background-color: var(--secondary-color);
    padding:0 10px 0px 10px;
}

#skills {
    width: 100%;
    border-radius: 5rem;
    padding: 2rem 0 1rem 0;
    margin-bottom: 3rem;
}
#skills span{
    width: 100%;
    background-color: var(--secondary-color);
    padding:0 10px 0px 10px;
}

#my-projects {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 1.5rem;

}
#projects {
    width: 100%;
    border-radius: 5rem;
    padding: 2rem 0 2rem 0;
    margin-bottom: 3rem;
}

#projects a img {
max-width: 100px;
    transition: max-width;
    transition-duration: 1s;
    transition-delay: 1ms;
}
#projects a img:hover {
    max-width: 150px;
}
#projects span{
    width: 100%;
    background-color: var(--secondary-color);
    padding:0 10px 0px 10px;
}
ul li {
    transition: .5s;
    background-color: var(--primary-color);
    border-radius: .45rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    width: 400pt;
    text-align: left;
}
ul li:hover {
    transform: scale(1.05);
}